<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->

<!--   Core JS Files   -->
<script src="https://static.ifinal.io/js/core/jquery.min.js"></script>
<script src="https://static.ifinal.io/js/core/popper.min.js"></script>
<script src="https://static.ifinal.io/js/core/bootstrap-material-design.min.js"></script>
<script src="https://static.ifinal.io/js/plugins/perfect-scrollbar.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Chartist JS -->
<script src="https://static.ifinal.io/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="https://static.ifinal.io/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="https://static.ifinal.io/js/material-dashboard.min.js" type="text/javascript"></script>
